.pt-serif-caption-regular {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-caption-regular-italic {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: italic;
}
.pt.asd {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-caption-regular-italic {
  font-family: "PT Serif Caption", serif;
  font-weight: 400;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif Caption", serif;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-part {
  width: 30%;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  font-size: 30px;
}

.line {
  width: 70px;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  margin: 15px 0;
}

.text p {
  font-size: 16px;
  color: gray;
}

.cards {
    display: flex;             /* left & right side by side */
    gap: 40px;                 /* space between columns */
}

.left, .right {
    display: flex;
    flex-direction: column;    /* stack cards vertically */
    gap: 20px;                 /* space between cards */
}

.box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.box i {
    font-size: 30px;
    margin-bottom: 10px;
}

.box h2 {
    font-size: 16px;
}
