/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO SECTION */
#hero {
    background-image: url("images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 500px;
    width: 100%;
    padding: 50px;
}

/* Hero Text */
.hero-header h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-description p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 500px;
}

/* Buttons */
.hero-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-start {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding: 15px;
    text-align: center;;
    background-color: #009cea;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.btn-video {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

/* Hero Image */
.hero-image img {
    width: 200px;
    height: 200px;
}
